<mat-toolbar>
    <span class="g">Employee Page
    </span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary">
        Send Request
    </button>
    <button mat-raised-button color="primary">
        Update Order Status
    </button>
    <button mat-raised-button color="primary">
        Unlock Users
    </button>
    <button mat-raised-button color="primary">
        Edit Profile
    </button>
    <button mat-button>
        Sign Out
    </button>
  </mat-toolbar>