<mat-toolbar>
    <span class="g">Employee Page</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<!-- Admin portal tabs -->
<mat-tab-group animationDuration="0ms">

    <mat-tab label="Send Request">
        <br>
        <form [formGroup]="sendRef">
            <mat-form-field>
                <mat-label>Enter Request</mat-label>
                <input matInput formControlName="request">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false"
                (click)="sendRequest()">Submit</button>
        </form>
    </mat-tab>

    <mat-tab label="Update Order Status">
        <mat-card class="card">
            Orders:
        </mat-card>
        <mat-card class="card" *ngFor="let order of orders">
            <mat-card-header>
                <mat-card-title class="name"> Order ID: {{order.id}}</mat-card-title><br><br>
                <mat-card-subtitle class="sub">Price:{{order.price}}</mat-card-subtitle>
                <mat-card-subtitle class="sub">Order Status:{{order.stat}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <!-- Update order status tab -->
        <form [formGroup]="orderRef">
            <mat-form-field>
                <mat-label>User Id for order</mat-label>
                <input matInput formControlName="cID">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Order Status</mat-label>
                <input matInput formControlName="status">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false"
                (click)="updateOrder()">Submit</button>
        </form>
    </mat-tab>
    <!-- Unlock user tab -->
    <mat-tab label="Unlock User">
        <mat-card class="card">
            Locked Users:
        </mat-card>
        <mat-card class="card" *ngFor="let ticket of tickets">
            <mat-card-header>
                <mat-card-title class="name"> User ID: {{ticket.id}}</mat-card-title><br><br>
                <mat-card-subtitle class="sub">Reason:{{ticket.reason}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <form [formGroup]="unlockRef">
            <mat-form-field>
                <mat-label>Enter User Id to unlock</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false"
                (click)="unlockUser()">Submit</button>
        </form>
    </mat-tab>

    <!-- Edit employee profile tab -->
    <mat-tab label="Edit Profile">
        <mat-card class="card">
            <form [formGroup]="updateRef">
                <mat-form-field>
                    <mat-label>Employee ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="pwd">
                </mat-form-field>
                <br>
                <br>
                <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false"
                    (click)="updateemployee()">Save</button>
            </form>
        </mat-card>
    </mat-tab>
    
</mat-tab-group>