<mat-toolbar>
    <span class="g">Products</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary">
        Cart
    </button>
    <button mat-raised-button color="primary">
        My Profile
    </button>
    <button mat-button>
        Sign Out
    </button>
  </mat-toolbar>

  <mat-card class="card">
    <mat-card-header >
      <mat-card-title class="name"> Product 1</mat-card-title><br><br>
      <mat-card-subtitle class="sub">price:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="list-info">
        <button mat-raised-button color="primary">
            Add to cart
        </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header >
      <mat-card-title class="name"> Product 2</mat-card-title><br><br>
      <mat-card-subtitle class="sub">price:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="list-info">
        <button mat-raised-button color="primary">
            Add to cart
        </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header >
      <mat-card-title class="name"> Product 3</mat-card-title><br><br>
      <mat-card-subtitle class="sub">price:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="list-info">
        <button mat-raised-button color="primary">
            Add to cart
        </button>
    </mat-card-content>
  </mat-card>
  
