<mat-toolbar>
  <span class="g">Cart</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="main()">
    Home
  </button>
</mat-toolbar>
<br><br>
<mat-card-title class="me-name">My Cart</mat-card-title><br><br>
<mat-card class="card" *ngFor="let car of carts">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content class="list-info" id={{car.id}}>
    <mat-card-title class="me-name">Items: {{car.name}}</mat-card-title><br>
    <ul>
      <li>price: {{car.price}}</li>
      <li>Qyt:
        <input disable-it min="1" value="{{car.Qty}}" mdInput style="width: 30px;" type="number" #myNumber />
      </li>
      <li id={{car.total}}>Total Price: {{car.total}}</li>
    </ul>
    <button mat-raised-button color="secondry" (click)="update(car.id,car.price,myNumber.value,car.total)">Update</button>
    <button mat-button color="secondry" (click)="remove(car.id)">remove</button>
  </mat-card-content>

</mat-card>
<button mat-raised-button color="primary" (click)="checkout()">
  checkout
</button>

