.example-spacer {
    flex: 1 1 auto;
  }


.card {
  max-width: 500px;
  margin: 20px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
.card2 {
  max-width: 250px;
  margin: 20px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
p{
  font-size: 20px;
  color: #3f51b5;
}
div{
	padding: 40px 20px;
	height: 20px;
}

.me-name{

	position: center;
	font-weight: bold;
	width: 250px;
  color: #3f51b5;
  font-size: 30px;
  
}

.list-info{

	color: #3f51b5;

}

.header-image {
  
  background-image: url('https://gravatar.com/avatar/7fb5ad2b52d3c2d926fcd6312c853d6f?s=200&d=mp&r=x');
  background-size: cover;
  width: 60px;
  height: 55px;

}

.sub{
    width: 250px;
    color: #3f51b5;

}
.logCard{
  justify-content: center;
  align-items: center;
  position:fixed;
  max-width: 500px;
  margin-left: 500px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
