<form [formGroup]="loginRef" (ngSubmit)="checkUser()" class="form-group">
<h1 mat-dialog-title style="color: #3f51b5">Admin Login</h1>
<hr>
<p style="color:red">*Please fill in all fields</p>
<mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="userAdmin" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="passAdmin" required>
    </mat-form-field>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
  <button mat-raised-button type="submit" color="primary" mat-dialog-close="false">Login</button>
</mat-dialog-actions>
</form>