<mat-toolbar>
    <span class="g">ADMIN</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="Report()">Report</button>
</mat-toolbar>

  <mat-tab-group animationDuration="0ms">

        <mat-tab label="Add Product">
        <mat-card class="card">
            <form [formGroup]="addRef" >

            <mat-form-field>
                <mat-label>Product ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Product Name</mat-label>
                    <input matInput formControlName="name" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Product Brand </mat-label>
                    <input matInput formControlName="brand" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Product Quantity</mat-label>
                    <input matInput formControlName="qty" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Product Price</mat-label>
                    <input matInput formControlName="price" >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Product Discount </mat-label>
                    <input matInput formControlName="discount" >
            </mat-form-field>
        
            <br>
            <button mat-raised-button (click)="addproduct()" [disabled]="_id === ''" color="primary" mat-dialog-close mat-dialog-close="false">ADD</button>
        
        </form>
        </mat-card>
        </mat-tab> 

        <mat-tab label="Delete Product">
            <mat-card class="card">
                <form [formGroup]="deleteRef"  >

                <mat-form-field>
                    <mat-label>Product ID</mat-label>
                        <input matInput  formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>
               
                <br>
                <button mat-raised-button [disabled]="_id === ''" (click)="deleteproduct()" color="primary" mat-dialog-close mat-dialog-close="false">Delete</button>
            </form>
         </mat-card>
            </mat-tab>
            <mat-tab label="Update Product">
                <mat-card class="card">
                    <form [formGroup]="updateRef" >
                    <mat-form-field>
                        <mat-label>Product ID</mat-label>
                            <input matInput formControlName="_id" [(ngModel)]="_id">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Product Quantity</mat-label>
                            <input matInput formControlName="qty" >
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Product Price</mat-label>
                            <input matInput formControlName="price" >
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Product Discount </mat-label>
                            <input matInput formControlName="discount" >
                    </mat-form-field>
                
                    <br>
                    <button mat-raised-button (click)="updateproduct()" [disabled]="_id === ''" color="primary" mat-dialog-close mat-dialog-close="false">Update</button>
                </form>
            </mat-card>
                </mat-tab>
        
            <mat-tab label=" View Request">
                <mat-card class="card">

                </mat-card>
            
                </mat-tab>
       <mat-tab label="Add Employee">
        <mat-card class="card">
            <mat-form-field>
                <mat-label>Employee ID</mat-label>
                    <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> First Name</mat-label>
                    <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Last Name </mat-label>
                    <input matInput >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>UserName</mat-label>
                    <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                    <input matInput >
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Salary </mat-label>
                    <input matInput >
            </mat-form-field>
        
            <br>
            <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false">ADD</button>
        </mat-card>
    
        </mat-tab>

        <mat-tab label="Delete Employee">
            <mat-card class="card">
                <mat-form-field>
                    <mat-label>Employee ID</mat-label>
                        <input matInput>
                </mat-form-field>
               
                <br>
                <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false">Delete</button>
            </mat-card>
            </mat-tab>
  </mat-tab-group>
  