<mat-toolbar>
    <span class="g">Cart</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="main()">
        Home
    </button>
  </mat-toolbar>

<mat-card class="card">
    <mat-card-header >
      <mat-card-title class="me-name">My Cart</mat-card-title><br><br>
    </mat-card-header>
    <mat-card-content class="list-info">
      <ul>
          <li>Items:  </li>
          <li>Total:  </li>
      </ul>
      <button mat-raised-button color="primary" (click)="main()">
        checkout
        </button>
    </mat-card-content>
</mat-card>
