<mat-toolbar>
    <span class="g">ADMIN</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="Report()">Report</button>
</mat-toolbar>

<mat-tab-group animationDuration="0ms">

    <mat-tab label="Add Product">
        <mat-card class="card">
            <form [formGroup]="addRef">

                <mat-form-field>
                    <mat-label>Product ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label> Product Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Brand </mat-label>
                    <input matInput formControlName="brand">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Quantity</mat-label>
                    <input matInput formControlName="qty">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Discount </mat-label>
                    <input matInput formControlName="discount">
                </mat-form-field>

                <br>
                <button mat-raised-button (click)="addproduct()" [disabled]="_id === ''" color="primary"
                    mat-dialog-close mat-dialog-close="false">ADD</button>

            </form>
        </mat-card>
    </mat-tab>

    <mat-tab label="Delete Product">
        <mat-card class="card">
            <form [formGroup]="deleteRef">

                <mat-form-field>
                    <mat-label>Product ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>

                <br>
                <button mat-raised-button [disabled]="_id === ''" (click)="deleteproduct()" color="primary"
                    mat-dialog-close mat-dialog-close="false">Delete</button>
            </form>
        </mat-card>
    </mat-tab>
    <mat-tab label="Update Product">
        <mat-card class="card">
            <form [formGroup]="updateRef">
                <mat-form-field>
                    <mat-label>Product ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Quantity</mat-label>
                    <input matInput formControlName="qty">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Product Discount </mat-label>
                    <input matInput formControlName="discount">
                </mat-form-field>

                <br>
                <button mat-raised-button (click)="updateproduct()" [disabled]="_id === ''" color="primary"
                    mat-dialog-close mat-dialog-close="false">Update</button>
            </form>
        </mat-card>
    </mat-tab>

    <mat-tab label=" View Request">
        <mat-card class="card">

        </mat-card>

    </mat-tab>
    <mat-tab label="Add Employee">
        <mat-card class="card">
            <form [formGroup]="addempeRef">
                <p style="color:red">*Please fill in all fields</p>
                <mat-form-field>
                    <mat-label>Employee ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label> First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Last Name </mat-label>
                    <input matInput formControlName="lastname">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>UserName</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="pwd">
                </mat-form-field>
                <br>
                <p style="color:red; font-size: x-small;">*Spell out "true" or "false"</p>

                <mat-form-field>
                    <mat-label>Password Updated (T/F)</mat-label>
                    <input matInput formControlName="pwdUpdated">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Salary </mat-label>
                    <input matInput formControlName="salary">
                </mat-form-field>
                <br>
                <button mat-raised-button (click)="addemployee()" [disabled]="_id === ''" color="primary"
                    mat-dialog-close mat-dialog-close="false">ADD</button>
            </form>
        </mat-card>
    </mat-tab>

    <mat-tab label="Delete Employee">
        <mat-card class="card">
            <form [formGroup]="delempRef">
                <mat-form-field>
                    <mat-label>Employee ID</mat-label>
                    <input matInput formControlName="_id" [(ngModel)]="_id">
                </mat-form-field>

                <br>
                <button mat-raised-button (click)="deleteemployee()" [disabled]="_id === ''" color="primary"
                    mat-dialog-close mat-dialog-close="false">Delete</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>