<h1 mat-dialog-title style="color: #3f51b5">User Login</h1>
<hr>
<p style="color:red">*Please fill in all fields</p>
<mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput >
    </mat-form-field>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close mat-dialog-close="true">Cancel</button>
  <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="false"  (click)=checkUser()>Login</button>
</mat-dialog-actions>
<hr>
<br>
  <mat-label>New Member? </mat-label>
<hr>
<p style = color:red>{{msg}}</p>
  <button mat-raised-button color="primary" mat-dialog-close="false" (click)="registerUser()">Register</button>
  <a routerLink="/home">Back</a>
